.home-list-TB-container.normal {
  border: 2px solid black;
}

.error {
  border: 3.5px solid red;
}

.home-list-TB-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.home-list-TB-content {
  display: flex;
  justify-content: space-around;
  min-height: 2.669rem;
  margin-left: 3.2rem;
}


