/* List Mission CSS */
.homelist-container {
  border: 3px solid black;
}

.homelist-container-onclick {
  border: 3px solid red;
}

.homelist-items-title {
  display: flex;
}

.homelist-icon-top-right {
  border-radius: 50%;
  background-color: #004291;
  margin: 7px;
}

.homelist-date-tittle {
  margin: 8px 0 0 14px;
  font-size: 31px;
  font-weight: bold;
}

.homelist-content {
  margin: 6px 0 0 7px !important; /* !important de de len CSS MUI goc */
  font-size: 26px;
}

.homelist-icon-bottom-right {
  margin: 0 0 0 10.5rem !important; /* !important de de len CSS MUI goc */
  font-size: 38px;
}
