.flightroute-right-panel {
  position: absolute;
  z-index: 1;
  width: 31.3rem;
  height: 75vh;
  background-color: white;
  top: 150px;
  right: 0;
}

.flightroute-tableinfo {
  width: 31.3rem;
  height: 15vh;
}

.flightroute-tableinfo table {
  width: 100%;
  border: 3px solid black;
  border-collapse: collapse;
  width: 100%;
}

.flightroute-tableinfo table tr td {
  border: 2px solid black;
}
