.img-manage-slide1 {
  border: 3px solid black;
  /* margin: 0.5rem 0 0 0; */
  min-height: 320px;
}

.img-manage-slide2 {
  border: 3px solid black;
  margin: 1rem 0 0 0;
  min-height: 320px;
}

.img-manage-slide3 {
  border: 3px solid black;
  margin: 1rem 0 0 0;
  min-height: 300px;
}
